{{!-- Start this from scratch, what do you want to show here... --}}

<div class="row align-center mb-5">
  <div class="column">
    <h1 class="title is-4 has-text-link">{{onePost.post_name}}</h1>
    <p>{{onePost.post_description}}</p>
    <h5>Created by: {{onePost.user.user_name}}</h5>
    <h6>Created on {{format_date onePost.post_date_created}}</h6>
    <h6>Post Id: {{onePost.id}}</h6>
    {{!-- <button class="button is-danger m-3" id="edit-post-btn" data-postid={{onePost.id}}>Edit Post</button> --}}
  </div>
</div>


<div class="row align-center mb-5">
  <div class="column">
    <h1 class="title is-4 has-text-link">Comments</h1>

    {{#each onePost.comments as |comment| }}
    <p>{{comment.comment_text}}</p>
    <h5>Created by: {{../onePost.user.user_name}}</h5>
    <h6>Created on {{format_date comment.comment_date_created}}</h6>
    <h6>Post Id: {{../onePost.id}}</h6>
    {{/each}}
  </div>
</div>
</div>


<div class="row align-center mb-5">
  <div class="column">
    <h2>Leave a Comment:</h2>
    <textarea class="textarea is-danger" placeholder="Type Your Comment Here" id="comment_text"></textarea>

    <button class="button is-danger m-3" id="save-comment-btn" data-postid={{onePost.id}}>Save Comment</button>
  </div>
</div>



{{!-- event handler for make comment & edit post --}}

<script>
  const makeCommentFormHandler = async (event) => {
    event.preventDefault();

    const comment_text = document.querySelector('#comment_text').value.trim();
    const postId = document.querySelector('#save-comment-btn').dataset.postid;

    // if comment-text exists
    if (comment_text) {
      const response = await fetch('../api/comments', {
        method: 'POST',
        body: JSON.stringify({ comment_text, post_id: postId }),
        headers: { 'Content-Type': 'application/json' },
      });
      console.log(response)
      console.log(postId, '/n-------- POST ID')
      if (response.ok) {
        console.log(response);
        document.location.reload();
      } else {
        alert('Failed to make comment');
      }
    }
  };




  document.querySelector('#save-comment-btn')
    .addEventListener('click', makeCommentFormHandler);



</script>